body{}

table{
     border-collapse: collapse ;
     margin: 20px auto;
     font-family: Arial, sans-serif;
}
h1,p{font-family:'Poppins', sans-serif;
 }
 ol,li{
    font-family:'Roboto', sans-serif, ;
 }
.operadores-logicos thead{
    background-color:#e55039 ;
    color: beige;
    border: white;
}
.operadores-logicos tbody{
    background-color:#f8c291 ;
    border: white;
}
.operadores-comparacion thead{
    background-color: #0a3d62;
    color: beige;
    border: black;
}
.operadores-comparacion tbody{
    background-color: rgb(174, 196, 236);
    border: black;
}

tr{
    transition: all ease 500;
}
tr:hover{
    background-color: rgb(230, 230, 230);
}
th,ol,li,tr,h1,p, td{
    text-align: center;
    text-align: middle;
}
td{
padding: 10px;}
th {padding: 10px;}